@page
@using Microsoft.AspNetCore.Identity;
@using Tourney_Lad.WebSite.Areas.Identity.Data;
@model Tourney_Lad.WebSite.Pages.Player.IndexModel
@inject SignInManager<ApplicationUser> SignInManager
@{
}

<br>
<h2>Player List</h2>
@if (SignInManager.IsSignedIn(User))
{
    <a class="btn btn-primary btn-sm" href='/Player/Create'>Add Player</a>
}
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Player Name</th>
            <th>Team Name</th>
            <th><b>Wins</b></th>
            <th><b>Losses</b></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listPlayers)
        {
            <tr>
                <td></td>
                <td>@item.PlayerName</td>
                <td>@item.TeamName</td>
                <td>@item.Wins</td>
                <td>@item.Losses</td>
            </tr>
        }
    </tbody>
</table>