@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Tourney-Lad</h1>
    <p>Welcome to Tourney-Lad! A tournament ladder web project to allow for tournament organizers to create, update, and display a ladder of all players</p>
</div>